<section class="pt-4">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h4 class="bg-custom-primart">KEY ISSUES</h4>
                <div class="card border-info">
                    <div class="card-body text-center">
                        <h5 class="card-title">Key Issues</h5>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 1
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                                        {{progress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 2
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress2" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress2/100)*100 + '%'">
                                        {{progress2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 3
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress3" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress3/100)*100 + '%'">
                                        {{progress3}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 4
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                                        {{progress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 5
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress2" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress2/100)*100 + '%'">
                                        {{progress2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 6
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress3" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress3/100)*100 + '%'">
                                        {{progress3}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 7
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar progress-bar-success " role="progressbar"
                                        [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                                        {{progress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                    <h4 class="bg-custom-primart">WORKER’S REMARK/SUGGESTIONS</h4>

                <div class="card border-info">
                    <div class="card-body text-center">
                        <h5 class="card-title">Worker's Remark/Suggestions</h5>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 1
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                                        {{progress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 2
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress2" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress2/100)*100 + '%'">
                                        {{progress2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 3
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress3" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress3/100)*100 + '%'">
                                        {{progress3}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 4
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                                        {{progress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 5
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress2" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress2/100)*100 + '%'">
                                        {{progress2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 6
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress3" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress3/100)*100 + '%'">
                                        {{progress3}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col clo-sm-3 col-md-2">
                                Issue 7
                            </div>
                            <div class="col clo-sm-9 col-md-10">
                                <div class="progress bg-white progress-control" style="border-radius: 0">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"
                                        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                                        {{progress}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>