<div class="container-fluid content">
  <div class="row content-row">
    <div class="col content-col mt-2" style="background-color: #fff;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
