<div >
    <div style="display: block">
        <canvas baseChart [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [colors]="backgroundColor"
        >
        </canvas>
    </div>
</div>
