.toolbar-fullscreen {
  display: none;
}

.toolbar-filler {
  flex: 1 1 auto
}

mat-sidenav {
  width: 250px;
}

.mat-bg-warn {
  background-color: #f44336;
  color: #fff;
}

.notification-number {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

