<mat-sidenav-container fullscreen style="background-color: #fff;">
  <mat-sidenav #sidenav [opened]=true position='start' mode="side" class="app-sidenav">
    <mat-toolbar color="primary">
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button"
        [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a mat-list-item class="sidenav-link" routerLink="/home/dashboard" style="text-decoration: none;">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
            dashboard
          </mat-icon>
          <span class="title ml-4">Dashboard</span>
        </a>
      </div>
      <div (click)="submenuOpen('submenu');">
        <a mat-list-item class="sidenav-link" style="text-decoration: none;">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">receipt
          </mat-icon>
          <span class="title ml-4">Voter</span>
          <mat-icon *ngIf="!submenu" class="menu-caret mat-icon notranslate material-icons mat-icon-no-color" role="img"
            aria-hidden="true" style="margin-left: 118px;">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="submenu" class="menu-caret mat-icon notranslate material-icons mat-icon-no-color" role="img"
            aria-hidden="true" style="margin-left: 118px;">keyboard_arrow_down</mat-icon>
        </a>
      </div>
      <section *ngIf="submenu">
        <div class="submenu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a mat-list-item class="sidenav-link" routerLink="/home/voter-data" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">description</mat-icon> -->
            <span class="title ml-5">Add Voter Info</span>
          </a>

        </div>
        <div class="submenu">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person</mat-icon> -->
            <span class="title ml-5">Add Constituencies</span>
          </a>
        </div>
        <div class="submenu">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person</mat-icon> -->
            <span class="title ml-5">Add Polling Booth</span>
          </a>
        </div>
      </section>
      <div (click)="submenuOpen('settingSubmenu');">
        <a mat-list-item class="sidenav-link" style="text-decoration: none;">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
            settings</mat-icon>
          <span class="title ml-4">Settings</span>
          <mat-icon *ngIf="!settingSubmenu" class="menu-caret mat-icon notranslate material-icons mat-icon-no-color"
            role="img" aria-hidden="true" style="margin-left: 98px;">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="settingSubmenu" class="menu-caret mat-icon notranslate material-icons mat-icon-no-color"
            role="img" aria-hidden="true" style="margin-left: 98px;">keyboard_arrow_down</mat-icon>
        </a>
      </div>
      <section *ngIf="settingSubmenu">
        <div class="submenu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a mat-list-item class="sidenav-link" routerLink="/home/account-settings" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">description</mat-icon> -->
            <span class="title ml-5">Account Settings</span>
          </a>

        </div>
        <div class="submenu">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person</mat-icon> -->
            <span class="title ml-5">Other Settings</span>
          </a>
        </div>
      </section>
      <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a mat-list-item class="sidenav-link" routerLink="/home/user-cration" style="text-decoration: none;">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person
          </mat-icon>
          <span class="title ml-4">Add User</span>
        </a>
      </div>
      <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a mat-list-item class="sidenav-link" routerLink="/home/map" style="text-decoration: none;">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
            add_location</mat-icon>
          <span class="title ml-4">Map</span>
        </a>
      </div>
      <div (click)="submenuOpen('mapSubmenu');">
        <a mat-list-item class="sidenav-link" style="text-decoration: none;">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
            show_chart</mat-icon>
          <span class="title ml-4">Charts</span>
          <mat-icon *ngIf="!mapSubmenu" class="menu-caret mat-icon notranslate material-icons mat-icon-no-color"
            role="img" aria-hidden="true" style="margin-left: 105px;">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="mapSubmenu" class="menu-caret mat-icon notranslate material-icons mat-icon-no-color"
            role="img" aria-hidden="true" style="margin-left: 105px;">keyboard_arrow_down</mat-icon>
        </a>
      </div>
      <section *ngIf="mapSubmenu">
        <div class="submenu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;" routerLink="/home/pai-chart">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">description</mat-icon> -->
            <span class="title ml-5">Pai</span>
          </a>
        </div>
        <div class="submenu">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person</mat-icon> -->
            <span class="title ml-5">Bar</span>
          </a>
        </div>
        <div class="submenu">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person</mat-icon> -->
            <span class="title ml-5">Doughnut</span>
          </a>
        </div>
        <div class="submenu">
          <a mat-list-item class="sidenav-link" style="text-decoration: none;">
            <!-- <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">person</mat-icon> -->
            <span class="title ml-5">Line</span>
          </a>
        </div>
      </section>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button"
      [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <!-- <h1 class="component-title"
            style="letter-spacing: 1px;font-weight: 300;text-transform: uppercase;">
            <img src="assets/images/logo.png" style="height: 30px;width: 55px;background: whitesmoke;margin: -3px 10px 0 0;">
            <a class="title-link" style="font-size: 20px;">Dashboard(Client)</a>
        </h1> -->
    <span class="toolbar-filler"></span>
    <!-- <img src="assets/images/logo.png" style="height: 30px;width: 60px;background: whitesmoke;"> -->

    <button id="button-logout" mat-button [matMenuTriggerFor]="state"
      style="font-weight: 300;letter-spacing: 1px;margin-right: 20px;">{{selectedState}}</button>
    <mat-menu #state="matMenu" class="custom-menu">
      <li mat-menu-item (click)="selectState(state);" *ngFor="let state of stateList">
        <span>{{state.name}}</span>
        <div class="mat-menu-ripple mat-ripple" matripple=""></div>
      </li>

    </mat-menu>


    <!-- <button id="button-logout" mat-button>Log Out</button> -->
    <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
    <button mat-icon-button style="margin-right: 20px;">
      <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
        notifications</mat-icon>
      <!-- <span class="badge badge-danger">4</span> -->
      <span class="notification-number mat-bg-warn">3</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" style="background-image: url('assets/images/profile.jpg');
        background-repeat: no-repeat;background-position: center; background-size: cover;
         height: 30px;width: 30px; margin-right: 20px;"></button>
    <mat-menu #menu="matMenu">
      <li mat-menu-item [routerLink]="['user-cration']">
        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
          account_box</mat-icon><span>Add User</span>
        <div class="mat-menu-ripple mat-ripple" matripple=""></div>
      </li>
      <li mat-menu-item [routerLink]="['account-settings']">
        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
          settings</mat-icon><span>Account Settings</span>
        <div class="mat-menu-ripple mat-ripple" matripple=""></div>
      </li>
      <li mat-menu-item>
        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
          notifications_off</mat-icon><span>Disable alerts</span>
        <div class="mat-menu-ripple mat-ripple" matripple=""></div>
      </li>
      <li mat-menu-item [routerLink]="['../login']">
        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
          exit_to_app</mat-icon><span>Sign out</span>
        <div class="mat-menu-ripple mat-ripple" matripple=""></div>
      </li>
    </mat-menu>
  </mat-toolbar>
  <main>
    <!-- <app-sub-header></app-sub-header> -->
    <!-- child routing -->
    <app-content></app-content>
  </main>
</mat-sidenav-content>
</mat-sidenav-container>
