<section class="py-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-custom-primart">DATA SET</h4>
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-custom-primart">DATA SET</h4>
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-custom-primart">DATA SET</h4>
                <app-doughnut-chart></app-doughnut-chart>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-custom-primart">DATA SET</h4>
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-custom-primart">DATA SET</h4>
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-custom-primart">DATA SET</h4>
                <app-doughnut-chart></app-doughnut-chart>
            </div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-info">DATA SET</h4>
                <app-line-chart></app-line-chart>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-4 text-center">
                <h4 class="bg-info">DATA SET</h4>
                <app-radar-chart></app-radar-chart>
            </div> -->
        </div>
    </div>
</section>
