<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-10">
          <img src="assets/images/logo.png">
        </span>
        <mat-form-field floatlabel="auto" class="w100">
          <mat-label>Old Password</mat-label>
          <input matInput placeholder="Old Password" />
        </mat-form-field>
        <mat-form-field floatlabel="auto" class="w100">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" />
        </mat-form-field>
        <mat-form-field floatlabel="auto" class="w100">
          <mat-label>Retype Password</mat-label>
          <input matInput placeholder="Retype Password" />
        </mat-form-field>
        <div style="padding-top: 30px;">
            <button class="loginbtn" mat-flat-button style="border-radius: 0%;float: right;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          password reset email has been sent to <a href="#" style="color: blue">gainamit11cs@gmail.com</a>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
            (click)="sendResetMail()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
