<div class="row mt-4">
  <div class="col" style="border-bottom: 1px solid #e8eaed;margin: 0 76px 0 16px;font-size: 18px;padding: 0;padding-bottom: 5px;">
    Basics:
  </div>
</div>
<div class="row ">
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Client Name">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input type="email" matInput placeholder="Email">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Mobile">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col" style="border-bottom: 1px solid #e8eaed;margin: 0 76px 0 16px;font-size: 18px;padding: 0;padding-bottom: 5px;">
    Countersign :
  </div>
</div>
<div class="row ">
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input type="password" matInput placeholder="Password">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col" style="border-bottom: 1px solid #e8eaed;margin: 0 76px 0 16px;font-size: 18px;padding: 0;padding-bottom: 5px;">
    Valid Till:
  </div>
</div>
<div class="row ">
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="col-6">
    <div class="example-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col" style="border-bottom: 1px solid #e8eaed;margin: 0 76px 0 16px;font-size: 18px;padding: 0;padding-bottom: 5px;">
    User type:
  </div>
</div>
<div class="row ">
  <div class="col-6">
    <div class="example-container">
      <label id="example-radio-group-label"></label>
      <mat-radio-group>
        <mat-radio-button value="Client" [checked]="userType === 'Client'" (click)="setUserType('Client')">Client
        </mat-radio-button>
        <mat-radio-button value="i3Rc" [checked]="userType === 'i3Rc'" (click)="setUserType('i3Rc')">i3Rc
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<section *ngIf="userType==='Client'">
  <div class="row mt-4">
    <div class="col" style="border-bottom: 1px solid #e8eaed;margin: 0 76px 0 16px;font-size: 18px;padding: 0;padding-bottom: 5px;">
      Access Area:
    </div>
  </div>
  <div class="row ">
    <div class="col-6">
      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="Select State" [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0].name : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of stateList" [value]="topping">{{topping.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-6">
      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="Select Constituencies" [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0].name : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of constituencies" [value]="topping">{{topping.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-6">
      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="Select Polling Booth" [formControl]="toppings1" multiple>
            <mat-select-trigger>
              {{toppings1.value ? toppings1.value[0].name : ''}}
              <span *ngIf="toppings1.value?.length > 1" class="example-additional-selection">
                (+{{toppings1.value.length - 1}} {{toppings1.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of constituencies" [value]="topping">{{topping.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</section>
<section *ngIf="userType==='i3Rc'">
  <div class="row mt-4">
    <div class="col" style="border-bottom: 1px solid #e8eaed;margin: 0 76px 0 16px;font-size: 18px;padding: 0;padding-bottom: 5px;">
      Access Area:
    </div>
  </div>
  <div class="row ">
    <div class="col-6">
      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="Select State" [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0].name : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of stateList" [value]="topping">{{topping.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</section>
<div class="row mt-4">
  <div class="col">
    <button mat-raised-button color="primary" style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;"
      (click)="testClick();">Save</button>
  </div>
</div>
