<router-outlet></router-outlet>
<!-- <app-login></app-login>
<app-bar-chart></app-bar-chart> -->
<!-- <app-top-header></app-top-header> -->
<!-- <app-voter-data></app-voter-data> -->
<!-- <app-sign-up></app-sign-up> -->
