<section class="py-1 border border-primary border-left-0 border-right-0 border-top-0" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 d-flex">
        <div class="mr-2 my-2">
          <!-- <label class="mb-0"></label> -->
          <div class="dropdown">
            <button style="padding: 5px 5px 5px 5px;background-color: #7761a1;border: 1px solid #7761a1;color: #fff;
            border-radius: 0px;font-size: 14px;width: 164px;
            font-weight: 400;" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Constituency
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="mx-4 my-2">
            <!-- <label class="mb-0">Choose Constituency</label> -->
            <div class="dropdown">
                <button style="padding: 5px 5px 5px 5px;background-color: #7761a1;border: 1px solid #7761a1;color: #fff;
                border-radius: 0px;font-size: 14px;width: 164px;
                font-weight: 400;" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose Polling Booth
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
        <nav class="my-2">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" style="background: #3f51b5" id="nav-home-tab" data-toggle="tab"
              role="tab" aria-controls="nav-home" aria-selected="true">7 Constituencies</a>
            <a class="nav-item nav-link" style="background: #ffa500" id="nav-profile-tab" data-toggle="tab" role="tab"
              aria-controls="nav-profile" aria-selected="false">23 Poling Booths</a>
            <a class="nav-item nav-link" style="background: #3a3837" id="nav-contact-tab" data-toggle="tab" role="tab"
              aria-controls="nav-contact" aria-selected="false">12 BLO</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>