<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search Voter
      </mat-panel-title>
      <!-- <mat-panel-description>
            Type your name and age
          </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="row mt-2 mb-2">
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Lok Sabha Name</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeylokSabha">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of constituencies|searchCondition:SearchKeylokSabha:'lokSabha'" [value]="food.name">
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Lok Sabha No</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyLokSabhaNo">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of LokSabhaNo|searchCondition:SearchKeyLokSabhaNo:'LokSabhaNo'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Vidhan Sabha Name</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyVidhanSabha">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of constituencies|searchCondition:SearchKeyVidhanSabha:'VidhanSabha'" [value]="food.name">
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Vidhan Sabha No.</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyVidhanSabhaNo">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of LokSabhaNo|searchCondition:SearchKeyVidhanSabhaNo:'VidhanSabhaNo'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Polling Booth No</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyPollingBooth">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of LokSabhaNo|searchCondition:SearchKeyPollingBooth:'PollingBooth'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Village Name</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyVillageName">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of Village|searchCondition:SearchKeyVillageName:'Village'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Ward No.</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyWardNo">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of LokSabhaNo|searchCondition:SearchKeyWardNo:'WardNo'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Locality</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyLocality">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of Village|searchCondition:SearchKeyLocality:'Locality'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyName">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of voterName|searchCondition:SearchKeyName:'Name'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="example-container">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <mat-select>
              <input type="text" placeholder="Search" class="custom-search" [(ngModel)]="SearchKeyAddress">
              <hr style="margin: 5px!important;">
              <mat-option *ngFor="let food of Address|searchCondition:SearchKeyAddress:'Address'" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-raised-button color="primary"
          style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Search</button>
      </div>
    </div>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Voter Info
      </mat-panel-title>
      <!-- <mat-panel-description>
          Type your name and age
        </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-horizontal-stepper linear #stepper>
      <mat-step [editable]="isEditable">
        <form>
          <ng-template matStepLabel>Voter Mapping</ng-template>
          <div class="row mt-4">
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Voter Id">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Voter Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === 'Male'">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <!-- 1st row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Voter Age">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Phone Number">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Caste">
                </mat-form-field>
              </div>
            </div>
            <!-- 2nd row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Guardian Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Relationship With Guardian">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Educational Qualification</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let qualification of qualificationList" [value]="qualification.value">
                      {{qualification.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- 3rd row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let state of stateList" [value]="state.name">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>District</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of districtlist" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Number of Voter in Family">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="How Many Valid Voter ?">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Voter Status</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voterstatus of voterStatus" [value]="voterstatus.name">
                      {{voterstatus.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- 5th row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Occupation</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let occupation of occupationList" [value]="occupation.value">
                      {{occupation.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Religious Category</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let religious of religiousList" [value]="religious.name">
                      {{religious.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Constituency</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of constituencies" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Polling Station</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of constituencies" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Voter Disposition</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let disposition of voterDisposition" [value]="disposition.name">
                      {{disposition.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Did You Vote Last Time ?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === 'Male'">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Will You Vote This Time ?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter">Yes</mat-radio-button>
                  <mat-radio-button value="2" [checked]="favoriteSeason === 'Male'">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Do You Need Transportation facility?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === ''">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Whom Did You Vote For MLA ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voteForMla of voteForMLA" [value]="voteForMla.name">
                      {{voteForMla.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Whom Did You Vote For PM ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voteForMla of voteForMLA" [value]="voteForMla.name">
                      {{voteForMla.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Which Type of Transportation You Need ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let transport of transportation" [value]="transport.name">
                      {{transport.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Whom will you vote for coming elections ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voteForMla of voteForMLA" [value]="voteForMla.name">
                      {{voteForMla.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-3 ">
            <button mat-raised-button matStepperNext color="primary"
              style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="isEditable">
        <form>
          <ng-template matStepLabel>Disposition</ng-template>
          <div class="row mt-4">
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Voter Id">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Voter Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === 'Male'">Male</mat-radio-button>
                  <mat-radio-button value="2">Female</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <!-- 1st row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Voter Age">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Phone Number">
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Caste">
                </mat-form-field>
              </div>
            </div> -->
            <!-- 2nd row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Guardian Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Relationship With Guardian">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Educational Qualification</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let qualification of qualificationList" [value]="qualification.value">
                      {{qualification.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- 3rd row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let state of stateList" [value]="state.name">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>District</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of districtlist" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Number of Voter in Family">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="How Many Valid Voter ?">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Voter Status</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voterstatus of voterStatus" [value]="voterstatus.name">
                      {{voterstatus.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- 5th row -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Occupation</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let occupation of occupationList" [value]="occupation.value">
                      {{occupation.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Religious Category</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let religious of religiousList" [value]="religious.name">
                      {{religious.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Constituency</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of constituencies" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Polling Station</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of constituencies" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Voter Disposition</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let disposition of voterDisposition" [value]="disposition.name">
                      {{disposition.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label class="section-heading">National - Issues/ Concerns:</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Select National Issues" [formControl]="toppings" multiple>
                    <mat-select-trigger>
                      {{toppings.value && toppings.value.length>0 ? toppings.value[0].value : ''}}
                      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of politicalParties" [value]="topping" (click)="issueSelect()">
                      {{topping.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6" *ngFor='let issue of toppings.value;let i=index'>
              <span>{{i+1}}.</span><label class="mr-3 ml-3">{{issue.value}}</label>
              <!-- <span style="font-size: 25px;color: red;vertical-align: middle;" (click)="deSelect(i);">&times;</span> -->
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <label class="section-heading">Local - Issues/ Concerns:</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Select Local Issues" [formControl]="toppings1" multiple>
                    <mat-select-trigger>
                      {{toppings1.value && toppings1.value.length>0? toppings1.value[0].value : ''}}
                      <span *ngIf="toppings1.value?.length > 1" class="example-additional-selection">
                        (+{{toppings1.value.length - 1}} {{toppings1.value?.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of politicalParties" [value]="topping" (click)="issueSelect()">
                      {{topping.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <mat-label class="section-heading">Most Influencer To Voter:</mat-label>
            </div>
          </div>
          <div class="row mt-1">
            <!-- <label id="example-radio-group-label">Most Influencer To Voter</label> -->
            <div class="col-2 overflow-cllipsis" *ngFor='let infVoter of InfluenceToVote'>
              <div class="example-container">
                <mat-checkbox>{{infVoter.value}}</mat-checkbox>
              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-12">
              <label class="section-heading">Impact On Voter</label>
            </div>
          </div>
          <div class="row" *ngFor="let impact of impactCounu;let i=index;">
            <div class="col-7">
              <label style="margin-top: 15px;">
                <span class="">{{i+1}}.</span>{{impact.questions}}
              </label>
            </div>
            <div class="col-5">
              <!-- <rating [(ngModel)]="impact.impacts" name="impact.questions_{{i}}" [max]="10" fullIcon="★" emptyIcon="☆"
                  [float]="true">
                </rating> -->
              <!-- <div class="example-container">
                <mat-form-field>
                  <input matInput>
                </mat-form-field>
              </div> -->
              <div class="example-container">
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <!-- <div class="col-1"> <label style="margin-top: 15px;" *ngIf="impact.impacts">{{impact.impacts}}</label></div> -->
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label class="section-heading">Parameters to vote </label>
            </div>
          </div>
          <div class="row" *ngFor="let impact of impactCounu;let i=index;">
            <div class="col-7">
              <label style="margin-top: 15px;">
                <span class="">{{i+1}}.</span>{{impact.questions}}
              </label>
            </div>
            <div class="col-5">
              <div class="example-container">
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <!-- <div class="col-1"> <label style="margin-top: 15px;" *ngIf="impact.impacts">{{impact.impacts}}</label></div> -->
          </div>

          <div class="row">
            <div class="col-6" *ngFor='let issue of toppings1.value;let i=index'>
              <span>{{i+1}}.</span><label class="mr-3 ml-3">{{issue.value}}</label>
              <!-- <span style="font-size: 25px;color: red;vertical-align: middle;">&times;</span> -->
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Did You Vote Last Time ?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === 'Male'">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Will You Vote This Time ?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter">Yes</mat-radio-button>
                  <mat-radio-button value="2" [checked]="favoriteSeason === 'Male'">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Do You Need Transportation facility?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === ''">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Whom Did You Vote For MLA ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voteForMla of voteForMLA" [value]="voteForMla.name">
                      {{voteForMla.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Whom Did You Vote For PM ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voteForMla of voteForMLA" [value]="voteForMla.name">
                      {{voteForMla.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Which Type of Transportation You Need ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let transport of transportation" [value]="transport.name">
                      {{transport.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Whom will you vote for coming elections ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let voteForMla of voteForMLA" [value]="voteForMla.name">
                      {{voteForMla.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--for end-->
          <div class="mt-3">
            <button mat-raised-button matStepperNext color="primary"
              style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
            <button mat-raised-button matStepperPrevious color="primary"
              style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;margin-right: 20px;">Back</button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="isEditable">
        <form>
          <ng-template matStepLabel>Booth Level workers</ng-template>
          <div class="row mt-4">
            <div class="col-12">
              <div class="example-container">
                <label id="example-radio-group-label">Voter Loyalty</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === 'Male'">Fully against
                  </mat-radio-button>
                  <mat-radio-button value="2">Partially against</mat-radio-button>
                  <mat-radio-button value="2">Undecided</mat-radio-button>
                  <mat-radio-button value="2">Partially loyal</mat-radio-button>
                  <mat-radio-button value="2">Fully loyal</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-12">
              <div class="example-container">
                <mat-form-field>
                  <textarea matInput placeholder="Remark/ suggestion/ Requirement"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-3 ">
            <button mat-raised-button matStepperNext color="primary"
              style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="isEditable">
        <form>
          <ng-template matStepLabel>Connect to your voters</ng-template>
          <div class="row mt-4">
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Do You Need Transportation facility?</label>
                <mat-radio-group>
                  <mat-radio-button value="Winter" [checked]="favoriteSeason === ''">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Which Type of Transportation You Need ?</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let transport of transportation" [value]="transport.name">
                      {{transport.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-4">
              <div class="example-container">
                <label id="example-radio-group-label">Mode of Meeting?</label>
                <mat-radio-group id="example-radio-group">
                  <mat-radio-button class="vartical-radio-option" value="Winter" [checked]="favoriteSeason === 'Male'">
                    In
                    Person</mat-radio-button>
                  <mat-radio-button class="vartical-radio-option" value="1">Social Media</mat-radio-button>
                  <mat-radio-button class="vartical-radio-option" value="2">Phone</mat-radio-button>
                </mat-radio-group>
              </div>

            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="example-container">
                <mat-form-field>
                  <mat-label>Time</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let food of time" [value]="food.name">
                      {{food.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="example-container">
                <mat-form-field>
                  <textarea matInput matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=5
                    placeholder="Message Circulated"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-3 ">
            <button mat-raised-button matStepperNext color="primary"
              style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>D day Solution</ng-template>
        <div class="row mt-4">
          <div class="col-4">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Voted">
              </mat-form-field>
            </div>
          </div>
          <div class="col-4">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Not Voted">
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="mt-3">
          <button mat-raised-button matStepperNext color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
          <button mat-raised-button matStepperPrevious color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;margin-right: 20px;">Back</button>
          <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </mat-expansion-panel>

</mat-accordion>
