<div class="limiter" id="login">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="loginText">
                <img src="assets/images/logo.png">
            </div>
            <mat-form-field floatlabel="auto" class="username" >
                <mat-label>Username</mat-label>
                <input matInput  placeholder="Username" type="text" name="user" [(ngModel)]="userName">
                <!-- <mat-hint align="end"></mat-hint> -->
            </mat-form-field>
            <mat-form-field floatlabel="auto" class="pwd">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" />
                <!-- <mat-hint align="end"></mat-hint> -->
            </mat-form-field>
            <div style="height: 40px;display: block;margin-top: 20px;">
                <button class="loginbtn" mat-flat-button style="border-radius: 0%;" (click)="loginValidation($event)">Login</button>
            </div>
            <div class="forgot-reset">
                <a class="txt2 frgt" href="#" routerLink="/change-passward" routerLinkActive="active">
                    Forgot password
                </a>
                <a class="txt2 reset" href="#" routerLink="/reset-passward" routerLinkActive="active">
                    Reset password
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 1px solid #e8eaed -->

<!-- <form class="login100-form validate-form" (submit)="loginValidation($event)">
    <span class="login100-form-title p-b-26">
        Welcome
    </span>
    <span class="login100-form-title p-b-48">
        <i class="zmdi zmdi-font"></i>
        <small class="text-danger" [ngStyle]="{'display':isUserValid ? 'none' : 'block' }">Invalid UserName Or Password</small>
    </span>

    <div class="wrap-input100 validate-input ">
        <input class="input100" type="text" name="user" [(ngModel)]="userName" placeholder="UserName/Email" id="user">
    </div>

    <div class="wrap-input100 validate-input">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        <input class="input100" type="password" name="password" [(ngModel)]="password" placeholder="Password" id="pwd">
    </div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <input type="submit" class="login100-form-btn" value="Login">
        </div>
    </div>

     <div class="text-center p-t-115">
        <span class="txt1">
            Don’t have an account?
        </span>

        <a class="txt2" href="#" routerLink="/signup" routerLinkActive="active">
            Sign Up
        </a>
    </div>
<div class="text-center p-t-5">
    <span class="txt1">
        Forgot password?
    </span>

    <a class="txt2" href="#" routerLink="/reset-passward" routerLinkActive="active">
        Reset password
    </a>
</div>
</form> -->
