.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.3em .75em 0 .75em;
}
#login .container-login100 .wrap-login100 .mat-form-field .mat-primary{//.mat-form-field-appearance-fill .mat-form-field-flex{
    background: none;
}