@import "./colorvariables";
.content {
  width: 95%!important;
  .content-row {
    .content-col {
      .mat-horizontal-stepper-header-container {
        border-bottom: 2px solid $base_color;
      }
      .example-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
      .example-container > * {
        width: 90%;
      }
      .example-container-full > * {
        width: 100%;
      }
      .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
      }
      .mat-checkbox-layout .mat-checkbox-label {
        line-height: 30px;
      }
      #example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        .vartical-radio-option {
          margin: 0;
        }
      }
      .top-div-divider {
        border-top: 1px solid $base_color;
      }
      ::ng-deep .mat-step-header .mat-step-icon-selected {
        background-color: red;
     }
     .overflow-cllipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .section-heading{
      font-size: 20px;
      font-weight: 600;
    }
    }
  }
}
