<mat-horizontal-stepper linear #stepper>
  <mat-step [editable]="isEditable">
    <form>
      <ng-template matStepLabel>Account Settings</ng-template>
      <div class="row mt-4">
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input matInput placeholder="Name" name="user" [(ngModel)]="userName">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input matInput placeholder="Title" name="user">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input matInput placeholder="Email">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input matInput placeholder="Mobile" name="Mobile" [(ngModel)]="mobileNo">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input matInput placeholder="Adress" name="user" [(ngModel)]="userName">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button mat-raised-button matStepperNext color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>

        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="isEditable">
    <form>
      <ng-template matStepLabel>Profile Picture</ng-template>
      <div class="row mt-4">
        <div class="col">
          Upload a profile picture :
        </div>
      </div>
      <div class="col-6">
        <div class="example-container-full">
          <input type="file">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button mat-raised-button matStepperNext color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
          <button mat-raised-button matStepperPrevious color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;margin-right: 20px;">Back</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="isEditable">
    <form>
      <ng-template matStepLabel>Privacy Settings</ng-template>
      <div class="row mt-4">
        <div class="col">
          Change Password :
        </div>
      </div>
      <div class="row ">
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input type="password" matInput placeholder="Password">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <div class="example-container-full">
            <mat-form-field>
              <input type="password" matInput placeholder="Confirm Password">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button mat-raised-button matStepperNext color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;">Save</button>
          <button mat-raised-button matStepperPrevious color="primary"
            style="float: right;border-radius: 0;margin-top: 10px;min-width: 150px;margin-right: 20px;">Back</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
