/* You can add global styles to this file, and also import other style files */
@import "./assets/theming/colorvariables";
@import "./assets/theming/login.scss";
@import "./assets/theming/voterinfo.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

html {
  background-color: #fff;
}

.bg-custom-primart {
  background-color: $base_color;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-menu {
  .mat-menu-content {
    max-height: 300px;
  }
}
.active{
  background-color: #c0cfe8;

}
.custom-search {
  border: none;
  padding: 10px 12px;
}

.custom-search:focus {
    outline: none !important;
    // border:1px solid red;
    // box-shadow: 0 0 10px #719ECE;
}


//------------------mat accordion style start --------------------
.container-fluid {
  .row {
    .mat-expansion-panel-header {
      flex-direction: row-reverse;
    }
    .mat-expansion-panel-header .mat-content {
      padding-left: 12px;
    }
    .mat-expansion-indicator::after {
      color: rgb(28, 25, 189);
    }
    .dropdown-toggle::after{
      float: right;
      margin-top: 9px;
    }
  }
}

.container-fluid {
  .row {
    .mat-tab-body {
      .mat-tab-body-content {
        height: 80%;
        overflow: unset;
      }
    }
  }
}
//------------------mat accordian style end--------------------
// .mat-toolbar.mat-primary {
//   background: #fff!important;
//   color: black;
//   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
// }

// #appToolbar{
//   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
// }
