<div class="border border-primary ">
    <div style="display: block">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            [colors]="backgroundColor"></canvas>
    </div>
</div>