.f22{
    font-size: 22px;
}
.email-width{
    width:100%;
    padding-top: 45px;
}
.fr{
    float: right;
} 
.p0{
    padding: 0;
}
.br0{
    border-radius:0px
}
.submit{
    font-size: 15px; padding: 0 15px;height: 35px;
}