<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-10">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <img src="assets/images/logo.png">
                </span>
                <mat-form-field floatlabel="auto" class="email-width">
                    <mat-label>Enter email-id</mat-label>
                    <input matInput placeholder="Enter email-id" />
                </mat-form-field>
                <div class="container-login100-form-btn fr" style="padding-top: 20px;">
                    <div class="wrap-login100-form-btn br0">
                        <input type="submit" class="login100-form-btn submit" value="Submit" data-toggle="modal"
                            data-target="#myModal" style="width: 140px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    password reset email has been sent to <a href="#" style="color: blue">gainamit11cs@gmail.com</a>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                        >Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
